{% for block in blocks %}
<div id="latest-block" data-block-index=""></div>
<div id="live-transactions"></div>
<div class="block">
    <strong>Block #<a href="/block/{{ block.index }}">{{ block.index }}</a></strong><br>
    <strong>Timestamp:</strong> {{ block.timestamp | ts }}<br>
    <strong>Hash:</strong> <code>{{ block.hash }}</code><br>
    <strong>Validator:</strong> {{ block.validator }}<br>
    <strong>Merkle Root:</strong> <code>{{ block.merkle_root }}</code><br>
    <hr>
    <strong>Transactions:</strong>
    {% for tx in block.transactions %}
        {% include "partials/tx_card.html" %}
    {% endfor %}
</div>
{% endfor %}

{% include "pagination.html" %}
