{% extends "layout.html" %}
{% block content %}
<div class="address">
    <h2>Address: {{ address_data.address }}</h2>
    {% if address_data.label %}
        <p><strong>Label:</strong> {{ address_data.label }}</p>
    {% endif %}

    <p><strong>Balance:</strong> {{ address_data.balance }} Orbit</p>

    {% include "partials/address_lockups.html" %}
    {% include "partials/address_recent_txs.html" %}

    {% if address_data.claimable > 0 %}
        <p><strong>Claimable Rewards:</strong> {{ address_data.claimable }} Orbit</p>
    {% endif %}
</div>
{% endblock %}
